.admin-menu-container {
  background: #f8f9fa; // 연한 배경색
  border: 1px solid #dee2e6; // 테두리
  border-radius: 5px; // 모서리 둥글게
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05); // 그림자 효과
  padding: 15px; // 안쪽 여백
  margin-top: 20px; // 상단 여백
  text-align: center; // 텍스트 중앙 정렬

  button {
    background-color: #007bff; // 버튼 배경색
    border: none; // 버튼 테두리 제거
    border-radius: 4px; // 버튼 모서리 둥글게
    color: #ffffff; // 버튼 내 텍스트 색상
    cursor: pointer; // 마우스 오버 시 커서 변경
    font-size: 0.9rem; // 폰트 크기
    margin: 5px; // 버튼 사이의 여백
    padding: 8px 12px; // 버튼 내부 여백

    &:hover {
      background-color: #0056b3; // 마우스 오버 시 버튼 색상 변경
    }
  }
}
.title {
  text-align: center;
}

.button {
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  cursor: pointer;
  font-size: 0.9rem;
  margin: 5px;

  // 공통 스타일
  &:hover {
    opacity: 0.8;
  }

  // 각 버튼별 색상 지정
  &.edit {
    background-color: #007bff; // 파란색
  }

  &.delete {
    background-color: #dc3545; // 빨간색
  }

  &.process {
    background-color: #28a745; // 초록색
  }
}
