@import 'variables';
@import 'common';

.chat-container {
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 500px;
  margin: 60px auto 20px; // 상단에 여유 공간을 추가하여 겹치지 않도록 조정
  height: 70vh;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.95);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  position: relative;
  z-index: 1;

  @media (max-width: 768px) {
    height: 80vh; // 모바일 화면에서 높이 조정
    margin-top: 20px; // 모바일 화면에서 상단 여백 줄임
  }
}

.chat-title {
  width: 100%;
  text-align: center;
  margin-bottom: 20px; // 제목 아래에 여백 추가
}

.message-input-container {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px;
  background-color: #f0f0f0;
  width: calc(100% - 40px); // 패딩 고려하여 너비 조정
}

.message-list {
  flex-grow: 1;
  overflow-y: auto;
  width: 100%; // 너비 설정
  margin: 0 0 10px; // 입력 컨테이너와의 간격 조정
}

