@import 'variables';

// 공통 컨테이너 스타일
%container-style {
  max-width: 500px;
  margin: 30px auto;
  position: fixed; // 화면에 고정
  top: 40%; // 상단에서 50% 위치
  left: 50%; // 왼쪽에서 50% 위치
  transform: translate(-50%, -50%); // 정확한 중앙 정렬을 위해 변환
  width: 85%; // 컨테이너 너비
  max-height: calc(100vh - 250px); // 헤더와 푸터 공간을 제외한 높이
  overflow-y: auto; // 세로 스크롤
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.95); // 반투명 배경
  backdrop-filter: blur(10px); // 배경 블러 효과
  border-radius: 10px; // 모서리 둥글게
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); // 그림자 효과
  z-index: 1000; // 다른 요소들 위에 표시될 수 있도록 z-index 설정
  @media screen and (max-width: 480px) {
    position: static; // 모바일에서는 고정 위치를 해제
    margin: 10px;
    top: auto;
    left: auto;
    transform: none;
    width: 90%; // 모바일 화면의 너비에 맞게 조정
    max-height: none; // 모바일에서는 최대 높이 제한을 해제
  }
}

// 공통 텍스트 스타일
%text-style {
  color: $text-color;
  font-family: $font-stack;
  @media screen and (max-width: 480px) {
    font-size: 14px; // 모바일에서는 폰트 크기를 줄임
  }
}

// 공통 버튼 스타일
.button {
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: $primary-color;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: $secondary-color;
  }
  @media screen and (max-width: 480px) {
    padding: 8px; // 모바일에서는 패딩을 줄임
    font-size: 14px; // 모바일에서는 폰트 크기를 줄임
  }
}

.title {
  text-align: center;
}