@import 'common';

.container {
  @extend %container-style;
}
.title {
  text-align: center;
  font-size: xx-large;
}

.label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
.error {
    display: block;
    margin-bottom: 1px;
    font-weight: bold;
    color : red;
}

.input,
.select,
.textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.button {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: #0056b3;
  }
}