.complaint-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: 100vh; // 전체 화면 높이
  overflow-y: auto; // 세로 스크롤
  padding: 20px;

  h1 {
    margin-bottom: 20px;
  }

  .complaint {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    width: 80%; // 전체 너비의 80%
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; // 부드러운 전환 효과

    &:hover {
      transform: translateY(-5px); // 마우스를 가져가면 약간 위로 올라갑니다.
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); // 그림자가 더 커지고 어두워집니다.
    }

    p {
      margin: 5px 0;
    }
  }
}
