// ComplaintDetail.scss

.complaint-detail-container {
  background: #ffffff; // 밝은 배경
  color: #333; // 어두운 글자 색
  border-radius: 8px; // 모서리 둥글게
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1); // 미묘한 그림자
  padding: 20px; // 여백
  max-width: 500px; // 최대 너비
  margin: auto; // 중앙 정렬
  // font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; // 모던 폰트

  h1 {
    font-size: 1.5em; // 크기 조절
    text-align: center; // 중앙 정렬
    margin-bottom: 20px; // 제목 아래 여백
    border-bottom: 1px solid #eee; // 구분선
    padding-bottom: 10px; // 구분선과 텍스트 사이 여백
  }

  .detail-row {
    display: flex;
    justify-content: space-between; // 제목과 내용 사이 간격
    margin-bottom: 15px; // 행 사이 여백

    .detail-title {
      font-weight: bold; // 제목 굵기
      margin-right: 10px; // 제목과 내용 사이 간격
      color: #007bff; // 제목 색상
    }

    .detail-content {
      flex: 1; // 내용이 차지할 수 있는 모든 공간 차지
      text-align: right; // 내용을 오른쪽 정렬
    }
  }
}