.footer-container {
  width: 100%;
  padding: 20px; // 패딩을 줄여서 푸터의 높이 줄이기
  background-color: #f4f4f4;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
  margin-top: auto;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .footer-content {
    display: inline;
    width: 100%;
    height: 100%;
    text-align: center;

    p {
      text-align: center;
      margin: 5px 0; // p 요소의 마진 줄이기
    }

    .footer-links {
      list-style: none;
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: center;

      li {
        margin: 2px 0; // li 요소의 마진 줄이기

        a {
          text-decoration: none;
          color: #333;
          transition: color 0.3s;

          &:hover {
            color: #1e90ff;
          }
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .footer {
    flex-direction: row;
    justify-content: space-between;

    .footer-content {
      text-align: left;
    }

    .footer-links {
      flex-direction: row;
      align-items: center;

      li {
        margin: 0 5px; // li 요소의 마진 줄이기
      }
    }
  }
}
