// styles/Home.module.scss

$primary-color: #4a90e2; // 주 색상
$secondary-color: #f8f8f8; // 보조 색상
$text-color: #333; // 텍스트 색상
// $font-stack: 'Helvetica Neue', Helvetica, Arial, sans-serif; // 폰트 스택


.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 35px;
  background-color: $secondary-color;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;

  .user {
    color : #4a90e2;
    // font-family: $font-stack;
    text-align: center;
    font-size: large;
    max-width: 600px;
    margin: 0 auto;
    padding: 30px;
    background-color: $secondary-color;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }

  h1 {
    color: $text-color;
    // font-family: $font-stack;
    text-align: center;
    margin-bottom: 20px;
    font-size : 38px;
  }

  

  p {
    color: $text-color;
    // font-family: $font-stack;
    line-height: 1.8;
    text-align: center;
    margin-top: 50px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  }

  .btn {
    text-align: center;
    display: block;
    background-color: $primary-color;
    color: white;
    padding: 10px 20px;
    margin : 10px;
    text-decoration: none;
    border-radius: 4px;
    // font-family: $font-stack;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, background-color 0.3s;
  
    &:hover {
      background-color: darken($primary-color, 10%);
      transform: scale(1.05);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    }
  }


  .button-group {
    display: flex;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); // 버튼 그림자 추가


    a {
      display: inline-block;
      background-color: $primary-color;
      color: white;
      padding: 10px 20px;
      text-decoration: none;
      border-radius: 4px;
      // font-family: $font-stack;
      transform: scale(1.05); // 호버 시 버튼 확대
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);

      &:not(:last-child) {
        margin-right: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); // 버튼 그림자 추가
      }

      &:hover {
        background-color: darken($primary-color, 10%);
        transform: scale(1.05); // 호버 시 버튼 확대
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
      }
    }
  }
}
