.LoginForm {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  position: fixed; // 화면에 고정
  top: 50%; // 상단에서 50% 위치
  left: 50%; // 왼쪽에서 50% 위치
  transform: translate(-50%, -50%); // 정확한 중앙 정렬을 위해 변환
  width: 80%; // 컨테이너 너비
  max-height: 80vh; // 전체 화면 높이의 80%
  overflow-y: auto; // 세로 스크롤
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.95); // 반투명 배경
  backdrop-filter: blur(10px); // 배경 블러 효과
  border-radius: 10px; // 모서리 둥글게
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); // 그림자 효과

  .loginHeader {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #007bff;
    text-align: center;
  }

  .formControl {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 400px;
    margin-bottom: 15px;

    label {
      align-self: flex-start;
      margin-bottom: 5px;
      font-weight: bold;
      color: #333;
    }

    input {
      width: calc(100% - 20px); // input의 전체 너비
      height: 40px;
      padding: 10px;
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 16px;

      &::placeholder {
        color: #999;
      }

      &:focus {
        outline: none;
        border-color: #007bff;
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
      }
    }
  }

  .btnSuccess {
    width: 100%;
    max-width: 400px; // 버튼의 최대 너비
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    margin-top: 10px;

    &:hover {
      background-color: #218838;
    }
  }
}
