@import 'common';

.message-input-container {
  display: flex;
  margin-top: 10px;
}

.input-field {
  flex-grow: 1;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  margin-right: 10px;
}

.send-button {
  @extend .button;
}
