.modalBackground {
  position: fixed; // 모달 배경을 화면 전체에 고정
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7); // 반투명한 배경
  display: flex;
  align-items: center; // 수직 중앙 정렬
  justify-content: center; // 수평 중앙 정렬
  z-index: 1000; // 다른 요소 위에 표시되도록 함

  // 애니메이션 효과
  animation: fadeIn 0.3s ease;

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

.modalContent {
  background-color: #fff; // 백그라운드 색상
  padding: 20px; // 내부 패딩
  border-radius: 8px; // 모서리 둥글게
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); // 그림자 효과
  width: 90%; // 모달의 너비
  max-width: 450px; // 최대 너비 제한
  z-index: 1001; // 배경보다 앞에 표시

  // 내용이 길 경우 스크롤 처리
  max-height: 80vh;
  overflow-y: auto;

  // 모달 컨텐츠 애니메이션
  animation: slideUp 0.3s ease;

  @keyframes slideUp {
    from {
      transform: translateY(20px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  h3 {
    text-align: center; // 가운데 정렬
    font-size: 28px; // 글자 크기 증가
    font-weight: 600; // 글자 두께
    color: #007bff; // 모달 색상과 일치하게 설정
    margin-bottom: 20px; // 제목과 내용 사이의 여백
  }

  p {
    color: #333; // 텍스트 색상
    font-size: 20px; // 폰트 크기
    line-height: 1.5; // 줄 간격
    margin-bottom: 15px; // 하단 여백
  }

  a {
    color: #007bff; // 링크 색상
    text-decoration: none; // 밑줄 제거

    &:hover {
      text-decoration: underline; // 호버 시 밑줄
    }
  }

  button {
    background-color: #007bff; // 버튼 배경색
    color: white; // 버튼 텍스트 색상
    border: none;
    padding: 10px 15px; // 버튼 패딩
    border-radius: 4px; // 버튼 모서리 둥글게
    cursor: pointer;
    margin-top: 10px; // 상단 여백

    &:hover {
      background-color: #0056b3; // 호버 시 배경색 변경
    }
  }
}

// 닫기 버튼 스타일
.closeButton {
  background: #007bff; // 버튼 배경색
  color: white; // 버튼 텍스트 색상
  border: none;
  padding: 10px 15px; // 버튼 패딩
  border-radius: 4px; // 버튼 모서리 둥글게
  cursor: pointer;
  margin-top: 20px; // 상단 여백

  &:hover {
    background-color: #0056b3; // 호버 시 배경색 변경
  }
}