.modalBackground {
  position: fixed; // 모달 배경을 화면 전체에 고정
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7); // 반투명한 배경
  display: flex;
  align-items: center; // 수직 중앙 정렬
  justify-content: center; // 수평 중앙 정렬
  z-index: 1000; // 다른 요소 위에 표시되도록 함

  // 애니메이션 효과
  animation: fadeIn 0.3s ease;

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

.modalContent {
  background-color: #fff; // 백그라운드 색상
  padding: 20px; // 내부 패딩
  border-radius: 8px; // 모서리 둥글게
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); // 그림자 효과
  width: 90%; // 모달의 너비
  max-width: 450px; // 최대 너비 제한
  z-index: 1001; // 배경보다 앞에 표시

  // 내용이 길 경우 스크롤 처리
  max-height: 80vh;
  overflow-y: auto;

  // 모달 컨텐츠 애니메이션
  animation: slideUp 0.3s ease;

  @keyframes slideUp {
    from {
      transform: translateY(20px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
}

// 닫기 버튼 스타일
.closeButton {
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 20px;
}
