// styles/nav.scss

$primary-color: #3498db;
$hover-color: darken($primary-color, 10%);
$text-color: #ffffff;
$nav-height: 65px;

nav {
  background-color: $primary-color;
  height: $nav-height;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  border-top-left-radius : 10px;
  border-top-right-radius : 3px;
  border-bottom-right-radius : 50px;
  border-bottom-left-radius : 70px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;

  .title {
    font-size: 1.5em;
    font-weight: bold;
    color: $text-color;
    a {
      text-decoration: none;
      color: inherit; // 상위 요소로부터 색상 상속
    }
  }

  a {
    color: $text-color;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    transition: color 0.3s ease, transform 0.3s ease;

    &:hover {
      background-color: $hover-color;
      transform: translateY(-2px);
    }
  }

  ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;

    li {
      margin: 0 10px;

      a {
        &:hover {
          color: darken($text-color, 10%);
          background-color: lighten($hover-color, 5%);
        }
      }
    }
  }

  // 미디어 쿼리를 사용하여 모바일 환경에 대응
  @media (max-width: 768px) {
    nav {
      flex-direction: column;
      padding: 10px;
  
      .title {
        margin-bottom: 20px; // 모바일 환경에서 제목과 항목 사이 간격 증가
      }
  
      ul {
        flex-direction: column;
        width: 100%; // 모바일 환경에서 ul의 너비를 100%로 설정
  
        li {
          text-align: center; // 모바일 환경에서 항목을 가운데 정렬
          margin-bottom: 10px; // 모바일 환경에서 항목 사이의 간격 증가
  
          a {
            width: 100%; // a 태그의 너비를 li와 같게 설정
            padding: 10px 0; // 모바일 환경에서 상하 패딩 증가
          }
        }
      }
    }
  }
}