$primary-color: #3498db;
$hover-color: darken($primary-color, 10%);
$text-color: #ffffff;
$nav-height: 65px;

nav {
  background-color: $primary-color;
  height: $nav-height;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 70px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;

  .title {
    font-size: 1.5em;
    font-weight: bold;
    color: $text-color;

    a {
      text-decoration: none;
      color: inherit;
    }
  }

  a {
    color: $text-color;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    transition: color 0.3s ease, transform 0.3s ease;

    &:hover {
      background-color: $hover-color;
      transform: translateY(-2px);
    }
  }

  ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;

    li {
      margin: 0 10px;

      a {
        &:hover {
          color: darken($text-color, 10%);
          background-color: lighten($hover-color, 5%);
        }
      }
    }
  }

  @media (max-width: 768px) {
    nav {
      flex-direction: column;
      padding: 10px;

      .title {
        margin-bottom: 20px;
      }

      ul {
        flex-direction: column;
        width: 100%;

        li {
          text-align: center;
          margin-bottom: 10px;

          a {
            width: 100%;
            padding: 10px 0;
          }
        }
      }
    }
  }

  @media (max-width: 480px) {
    nav {
      padding: 5px 10px;

      .title {
        font-size: 1.2em; // 더 작은 화면에서는 폰트 크기를 줄임
      }

      ul li a {
        padding: 8px 0; // 더 작은 화면에서는 패딩을 줄임
      }
    }
  }
}
