@import 'common';

.SignupForm {
  @extend %container-style ;

  .signupHeader {
    text-align: center;
    font-size: 24px; // 큰 폰트 크기
    font-weight: bold;
    color: #007bff; // 파란색
    margin-bottom: 20px; // 폼과의 여백
  }
  
  .formControl {
    width: 100%;
    margin-bottom: 20px;

    label {
      display: block;
      margin-bottom: 10px;
      font-weight: bold;
      color: #333;
      font-size: 14px; // 라벨 폰트 크기 조정
      text-transform: uppercase; // 대문자 변환
    }


    input {
      width: 100%;
      padding: 10px 15px;
      border: 1px solid #ddd;
      border-radius: 5px;
      font-size: 16px;

      &:focus {
        border-color: #007bff;
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
      }
    }
  }

  .btnSuccess {
    width: 100%;
    padding: 12px 15px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    cursor: pointer;

    &:hover {
      background-color: #0056b3;
    }
  }
}
